{:properties
 {:user.property/superEvent-AdQv8SI-
  {:db/cardinality :db.cardinality/one,
   :logseq.property/type :node,
   :block/title "superEvent",
   :build/property-classes [:user.class/Event-eokdG-Nd],
   :build/properties
   {:logseq.property/hide-empty-value false,
    :logseq.property/icon
    {:id "ticket",
     :name "Ticket",
     :keywords ["event" "concert" "pass"],
     :skins [{:unified "1f3ab", :native "🎫", :shortcodes ":ticket:"}],
     :version 1,
     :search ",ticket,ticket,event,concert,pass,🎫",
     :type :emoji},
    :logseq.property/description
    "An event that this event is a part of. For example, a collection of individual music performances might each have a music festival as their superEvent.\nInverse property: [subEvent](https://schema.org/subEvent)",
    :logseq.property/exclude-from-graph-view true}},
  :user.property/Event-BmyR34Zg
  {:db/cardinality :db.cardinality/one,
   :logseq.property/type :node,
   :block/title "Event",
   :build/property-classes [:user.class/Event-eokdG-Nd],
   :build/properties {:logseq.property/exclude-from-graph-view true}},
  :user.property/courseSchedule-YgJyelJz
  {:db/cardinality :db.cardinality/one,
   :logseq.property/type :node,
   :block/title "courseSchedule",
   :build/property-classes [:user.class/Schedule-pPoEOCph],
   :build/properties
   {:logseq.property/icon
    {:id "spiral_calendar_pad",
     :name "Spiral Calendar",
     :keywords ["pad" "date" "schedule" "planning"],
     :skins
     [{:unified "1f5d3-fe0f",
       :native "🗓️",
       :shortcodes ":spiral_calendar_pad:"}],
     :version 1,
     :search
     ",spiral_calendar_pad,spiral,calendar,pad,date,schedule,planning,🗓️",
     :type :emoji},
    :logseq.property/description
    "Represents the length and pace of a course, expressed as a [Schedule](https://schema.org/Schedule).",
    :logseq.property/exclude-from-graph-view true}},
  :user.property/event-TnZsBTQU
  {:db/cardinality :db.cardinality/many,
   :logseq.property/type :node,
   :block/title "event",
   :build/property-classes [:user.class/Event-eokdG-Nd],
   :build/properties
   {:logseq.property/icon
    {:id "ticket",
     :name "Ticket",
     :keywords ["event" "concert" "pass"],
     :skins [{:unified "1f3ab", :native "🎫", :shortcodes ":ticket:"}],
     :version 1,
     :search ",ticket,ticket,event,concert,pass,🎫",
     :type :emoji},
    :logseq.property/description
    "An event happening at a certain time and location, such as a concert, lecture, or festival. Ticketing information may be added via the [offers](https://schema.org/offers) property. Repeated events may be structured as separate Event objects.",
    :logseq.property/exclude-from-graph-view true}},
  :user.property/hasCourseInstance-tE_A5mgp
  {:db/cardinality :db.cardinality/many,
   :logseq.property/type :node,
   :block/title "hasCourseInstance",
   :build/property-classes [:user.class/CourseInstance-MqjA3ZLE],
   :build/properties
   {:logseq.property/icon
    {:id "school",
     :name "School",
     :keywords ["building" "student" "education" "learn" "teach"],
     :skins [{:unified "1f3eb", :native "🏫", :shortcodes ":school:"}],
     :version 1,
     :search
     ",school,school,building,student,education,learn,teach,🏫",
     :type :emoji},
    :logseq.property/description
    "An offering of the course at a specific time and place or through specific media or mode of study or to a specific section of students.",
    :logseq.property/exclude-from-graph-view true}},
  :user.property/subEvent-GTo4BJ_-
  {:db/cardinality :db.cardinality/one,
   :logseq.property/type :node,
   :logseq.property/hide? false,
   :block/title "subEvent",
   :build/property-classes [:user.class/Event-eokdG-Nd],
   :build/properties
   {:logseq.property/hide-empty-value false,
    :logseq.property/icon
    {:id "ticket",
     :name "Ticket",
     :keywords ["event" "concert" "pass"],
     :skins [{:unified "1f3ab", :native "🎫", :shortcodes ":ticket:"}],
     :version 1,
     :search ",ticket,ticket,event,concert,pass,🎫",
     :type :emoji},
    :logseq.property/description
    "An Event that is part of this event. For example, a conference event includes many presentations, each of which is a subEvent of the conference.\nInverse property: [superEvent](https://schema.org/superEvent)",
    :logseq.property/exclude-from-graph-view true}},
  :user.property/subjectOf-TT46bi31
  {:db/cardinality :db.cardinality/many,
   :logseq.property/type :node,
   :block/title "subjectOf",
   :build/property-classes
   [:user.class/Event-eokdG-Nd :user.class/CreativeWork-B7DmUg1j],
   :build/properties
   {:logseq.property/hide-empty-value true,
    :logseq.property/icon {:id "link", :type :emoji},
    :logseq.property/description
    "A CreativeWork or Event about this Thing.\nInverse property: [about](https://schema.org/about)",
    :logseq.property/exclude-from-graph-view true}}}}
