{:classes
 #:user.class{:TouristAttraction-L0-lm1Ta
              {:block/title "TouristAttraction",
               :build/class-properties
               [:user.property/touristType-wqyyjviY],
               :build/class-extends [:user.class/Place-sWTwEwWP],
               :build/properties
               #:logseq.property{:icon {:id "camera", :type :emoji},
                                 :description
                                 "A tourist attraction. In principle any Thing can be a [TouristAttraction](https://schema.org/TouristAttraction), from a [Mountain](https://schema.org/Mountain) and [LandmarksOrHistoricalBuildings](https://schema.org/LandmarksOrHistoricalBuildings) to a [LocalBusiness](https://schema.org/LocalBusiness). This Type can be used on its own to describe a general [TouristAttraction](https://schema.org/TouristAttraction), or be used as an [additionalType](https://schema.org/additionalType) to add tourist attraction properties to any other type."}}}}
