{:properties
 {:user.property/hasTiers-ug5kfMPF
  {:db/cardinality :db.cardinality/many,
   :logseq.property/type :node,
   :block/title "hasTiers",
   :build/property-classes [:user.class/MemberProgramTier-WXd-EWZL],
   :build/properties
   {:logseq.property/icon
    {:type :tabler-icon,
     :id "Pyramid",
     :name "Pyramid",
     :color "inherit"},
    :logseq.property/description
    "The tiers of a member program.\nInverse property: [isTierOf](https://schema.org/isTierOf)",
    :exclude-from-graph-view true}},
  :user.property/subReservation-P3URlTQD
  {:db/cardinality :db.cardinality/one,
   :logseq.property/type :node,
   :block/title "subReservation",
   :build/property-classes [:user.class/Reservation-tDje6vAq],
   :build/properties
   {:logseq.property/icon
    {:id "green_book",
     :name "Green Book",
     :keywords ["read" "library" "knowledge" "study"],
     :skins
     [{:unified "1f4d7", :native "📗", :shortcodes ":green_book:"}],
     :version 1,
     :search ",green_book,green,book,read,library,knowledge,study,📗",
     :type :emoji},
    :logseq.property/description
    "The individual reservations included in the package. Typically a repeated property.",
    :exclude-from-graph-view true}},
  :user.property/nextItem-pJEtk0Ht
  {:db/cardinality :db.cardinality/one,
   :logseq.property/type :node,
   :block/title "nextItem",
   :build/property-classes [:user.class/ListItem-gPGuE3ib],
   :build/properties
   {:logseq.property/icon
    {:id "link",
     :name "Link",
     :keywords ["rings" "url"],
     :skins [{:unified "1f517", :native "🔗", :shortcodes ":link:"}],
     :version 1,
     :search ",link,link,rings,url,🔗",
     :type :emoji},
    :logseq.property/description
    "A link to the ListItem that follows the current one.",
    :exclude-from-graph-view true}},
  :user.property/program-YPw2pQES
  {:db/cardinality :db.cardinality/one,
   :logseq.property/type :node,
   :block/title "program",
   :build/property-classes [:user.class/MemberProgram-ow0-vJAI],
   :build/properties
   {:logseq.property/icon
    {:id "ticket",
     :name "Ticket",
     :keywords ["event" "concert" "pass"],
     :skins [{:unified "1f3ab", :native "🎫", :shortcodes ":ticket:"}],
     :version 1,
     :search ",ticket,ticket,event,concert,pass,🎫",
     :type :emoji},
    :logseq.property/description
    "The [MemberProgram](https://schema.org/MemberProgram) associated with a [ProgramMembership](https://schema.org/ProgramMembership).",
    :exclude-from-graph-view true}},
  :user.property/repeatFrequency-Q0bQ9SOb
  {:db/cardinality :db.cardinality/one,
   :logseq.property/type :node,
   :block/title "repeatFrequency",
   :build/property-classes [:user.class/Duration-l9FSb6jS],
   :build/properties
   {:logseq.property/icon
    {:id "repeat",
     :name "Repeat Button",
     :keywords ["loop" "record"],
     :skins [{:unified "1f501", :native "🔁", :shortcodes ":repeat:"}],
     :version 1,
     :search ",repeat,repeat,button,loop,record,🔁",
     :type :emoji},
    :logseq.property/description
    "Defines the frequency at which [Event](https://schema.org/Event)s will occur according to a schedule [Schedule](https://schema.org/Schedule). The intervals between events should be defined as a [Duration](https://schema.org/Duration) of time.",
    :exclude-from-graph-view true}},
  :user.property/reviewRating-QBDiKkwj
  {:db/cardinality :db.cardinality/one,
   :logseq.property/type :node,
   :logseq.property/ui-position :block-left,
   :block/title "reviewRating",
   :build/property-classes [:user.class/Rating-BSM3CCuf],
   :build/properties
   {:logseq.property/icon
    {:id "star",
     :name "Star",
     :keywords ["night" "yellow"],
     :skins [{:unified "2b50", :native "⭐", :shortcodes ":star:"}],
     :version 1,
     :search ",star,star,night,yellow,⭐",
     :type :emoji},
    :logseq.property/description
    "The rating given in this review. Note that reviews can themselves be rated. The `reviewRating` applies to rating given by the review. The [aggregateRating](https://schema.org/aggregateRating) property applies to the review itself, as a creative work.",
    :exclude-from-graph-view true}},
  :user.property/partOfTrip-UXTLyMra
  {:db/cardinality :db.cardinality/one,
   :logseq.property/type :node,
   :block/title "partOfTrip",
   :build/property-classes [:user.class/Trip-r8sS-d2X],
   :build/properties
   {:logseq.property/icon
    {:id "luggage",
     :name "Luggage",
     :keywords ["packing" "travel"],
     :skins
     [{:unified "1f9f3", :native "🧳", :shortcodes ":luggage:"}],
     :version 11,
     :search ",luggage,luggage,packing,travel,🧳",
     :type :emoji},
    :logseq.property/description
    "Identifies that this [Trip](https://schema.org/Trip) is a subTrip of another Trip. For example Day 1, Day 2, etc. of a multi-day trip.\nInverse property: [subTrip](https://schema.org/subTrip)",
    :exclude-from-graph-view true}},
  :user.property/subTrip-E5bHCsjT
  {:db/cardinality :db.cardinality/many,
   :logseq.property/type :node,
   :block/title "subTrip",
   :build/property-classes [:user.class/Trip-r8sS-d2X],
   :build/properties
   {:logseq.property/icon
    {:id "luggage",
     :name "Luggage",
     :keywords ["packing" "travel"],
     :skins
     [{:unified "1f9f3", :native "🧳", :shortcodes ":luggage:"}],
     :version 11,
     :search ",luggage,luggage,packing,travel,🧳",
     :type :emoji},
    :logseq.property/description
    "Identifies a [Trip](https://schema.org/Trip) that is a subTrip of this Trip. For example Day 1, Day 2, etc. of a multi-day trip.\nInverse property: [partOfTrip](https://schema.org/partOfTrip)",
    :exclude-from-graph-view true}},
  :user.property/numberOfPlayers-RAmSTkGI
  {:db/cardinality :db.cardinality/one,
   :logseq.property/type :node,
   :block/title "numberOfPlayers",
   :build/property-classes [:user.class/QuantitativeValue-IKnk1j2N],
   :build/properties
   {:logseq.property/icon
    {:id "straight_ruler",
     :name "Straight Ruler",
     :keywords
     ["stationery"
      "calculate"
      "length"
      "math"
      "school"
      "drawing"
      "architect"
      "sketch"],
     :skins
     [{:unified "1f4cf",
       :native "📏",
       :shortcodes ":straight_ruler:"}],
     :version 1,
     :search
     ",straight_ruler,straight,ruler,stationery,calculate,length,math,school,drawing,architect,sketch,📏",
     :type :emoji},
    :logseq.property/description
    "Indicate how many people can play this game (minimum, maximum, or range).",
    :exclude-from-graph-view true}},
  :user.property/restPeriods-EsG6Js4g
  {:db/cardinality :db.cardinality/one,
   :logseq.property/type :node,
   :block/title "restPeriods",
   :build/property-classes [:user.class/QuantitativeValue-IKnk1j2N],
   :build/properties
   {:logseq.property/icon
    {:id "sleepy",
     :name "Sleepy Face",
     :keywords ["tired" "rest" "nap"],
     :skins [{:unified "1f62a", :native "😪", :shortcodes ":sleepy:"}],
     :version 1,
     :search ",sleepy,sleepy,face,tired,rest,nap,😪",
     :type :emoji},
    :logseq.property/description
    "How often one should break from the activity.",
    :exclude-from-graph-view true}},
  :user.property/programMembershipUsed-Bxfs7uuH
  {:db/cardinality :db.cardinality/one,
   :logseq.property/type :node,
   :block/title "programMembershipUsed",
   :build/property-classes [:user.class/ProgramMembership-MYM3-sYx],
   :build/properties
   {:logseq.property/icon
    {:id "identification_card",
     :name "Identification Card",
     :keywords ["document"],
     :skins
     [{:unified "1faaa",
       :native "🪪",
       :shortcodes ":identification_card:"}],
     :version 14,
     :search ",identification_card,identification,card,document,🪪",
     :type :emoji},
    :logseq.property/description
    "Any membership in a frequent flyer, hotel loyalty program, etc. being applied to the reservation.",
    :exclude-from-graph-view true}},
  :user.property/coursePrerequisites-BVkZhygE
  {:db/cardinality :db.cardinality/many,
   :logseq.property/type :node,
   :block/title "coursePrerequisites",
   :build/property-classes
   [:user.class/AlignmentObject-Bp9Qbx_4 :user.class/Course-G32kzYLY],
   :build/properties
   {:logseq.property/icon
    {:id "school",
     :name "School",
     :keywords ["building" "student" "education" "learn" "teach"],
     :skins [{:unified "1f3eb", :native "🏫", :shortcodes ":school:"}],
     :version 1,
     :search
     ",school,school,building,student,education,learn,teach,🏫",
     :type :emoji},
    :logseq.property/description
    "Requirements for taking the Course. May be completion of another [Course](https://schema.org/Course) or a textual description like \"permission of instructor\". Requirements may be a pre-requisite competency, referenced using [AlignmentObject](https://schema.org/AlignmentObject).",
    :exclude-from-graph-view true}},
  :user.property/previousItem-COK0wTnJ
  {:db/cardinality :db.cardinality/one,
   :logseq.property/type :node,
   :block/title "previousItem",
   :build/property-classes [:user.class/ListItem-gPGuE3ib],
   :build/properties
   {:logseq.property/icon
    {:id "link",
     :name "Link",
     :keywords ["rings" "url"],
     :skins [{:unified "1f517", :native "🔗", :shortcodes ":link:"}],
     :version 1,
     :search ",link,link,rings,url,🔗",
     :type :emoji},
    :logseq.property/description
    "A link to the ListItem that precedes the current one.",
    :exclude-from-graph-view true}},
  :user.property/programmingLanguage-rXiRDkVx
  {:db/cardinality :db.cardinality/many,
   :logseq.property/type :node,
   :block/title "programmingLanguage",
   :build/property-classes [:user.class/ComputerLanguage-W_oRfV0P],
   :build/properties
   {:logseq.property/icon
    {:id "robot_face",
     :name "Robot",
     :keywords ["face" "computer" "machine" "bot"],
     :skins
     [{:unified "1f916", :native "🤖", :shortcodes ":robot_face:"}],
     :version 1,
     :search ",robot_face,robot,face,computer,machine,bot,🤖",
     :type :emoji},
    :logseq.property/description "The computer programming language.",
    :exclude-from-graph-view true}},
  :user.property/reservedTicket-UcavUkmL
  {:db/cardinality :db.cardinality/one,
   :logseq.property/type :node,
   :block/title "reservedTicket",
   :build/property-classes [:user.class/Ticket-pdA-Ir-K],
   :build/properties
   {:logseq.property/icon
    {:id "green_book",
     :name "Green Book",
     :keywords ["read" "library" "knowledge" "study"],
     :skins
     [{:unified "1f4d7", :native "📗", :shortcodes ":green_book:"}],
     :version 1,
     :search ",green_book,green,book,read,library,knowledge,study,📗",
     :type :emoji},
    :logseq.property/description
    "A ticket associated with the reservation.",
    :exclude-from-graph-view true}},
  :user.property/activityDuration-ffVdaMZK
  {:db/cardinality :db.cardinality/one,
   :logseq.property/type :node,
   :block/title "activityDuration",
   :build/property-classes
   [:user.class/QuantitativeValue-IKnk1j2N
    :user.class/Duration-l9FSb6jS],
   :build/properties
   {:logseq.property/icon
    {:id "stopwatch",
     :name "Stopwatch",
     :keywords ["time" "deadline"],
     :skins
     [{:unified "23f1-fe0f", :native "⏱️", :shortcodes ":stopwatch:"}],
     :version 1,
     :search ",stopwatch,stopwatch,time,deadline,⏱️",
     :type :emoji},
    :logseq.property/description
    "Length of time to engage in the activity.",
    :exclude-from-graph-view true}},
  :user.property/certificationRating-D7xMAVtS
  {:db/cardinality :db.cardinality/one,
   :logseq.property/type :node,
   :block/title "certificationRating",
   :build/property-classes [:user.class/Rating-BSM3CCuf],
   :build/properties
   {:logseq.property/icon
    {:id "star",
     :name "Star",
     :keywords ["night" "yellow"],
     :skins [{:unified "2b50", :native "⭐", :shortcodes ":star:"}],
     :version 1,
     :search ",star,star,night,yellow,⭐",
     :type :emoji},
    :logseq.property/description
    "Rating of a certification instance (as defined by an independent certification body). Typically this rating can be used to rate the level to which the requirements of the certification instance are fulfilled. See also [gs1:certificationValue](https://www.gs1.org/voc/certificationValue).",
    :exclude-from-graph-view true}},
  :user.property/audience-hpnGPafX
  {:db/cardinality :db.cardinality/many,
   :logseq.property/type :node,
   :block/title "audience",
   :build/property-classes [:user.class/Audience-Ya93MfDW],
   :build/properties
   {:logseq.property/hide-empty-value true,
    :logseq.property/icon {:id "busts_in_silhouette", :type :emoji},
    :logseq.property/description
    "An intended audience, i.e. a group for whom something was created.",
    :exclude-from-graph-view true}},
  :user.property/touristType-wqyyjviY
  {:db/cardinality :db.cardinality/one,
   :logseq.property/type :node,
   :block/title "touristType",
   :build/property-classes [:user.class/Audience-Ya93MfDW],
   :build/properties
   {:logseq.property/icon
    {:id "camera",
     :name "Camera",
     :keywords ["gadgets" "photography"],
     :skins [{:unified "1f4f7", :native "📷", :shortcodes ":camera:"}],
     :version 1,
     :search ",camera,camera,gadgets,photography,📷",
     :type :emoji},
    :logseq.property/description
    "Attraction suitable for type(s) of tourist. E.g. children, visitors from a particular country, etc.",
    :exclude-from-graph-view true}},
  :user.property/Rating-ZemDKbJS
  {:db/cardinality :db.cardinality/one,
   :logseq.property/type :node,
   :block/title "Rating",
   :build/property-classes [:user.class/Rating-BSM3CCuf],
   :build/properties {:exclude-from-graph-view true}},
  :user.property/intensity-sDMTFmeg
  {:db/cardinality :db.cardinality/one,
   :logseq.property/type :node,
   :block/title "intensity",
   :build/property-classes [:user.class/QuantitativeValue-IKnk1j2N],
   :build/properties
   {:logseq.property/icon
    {:id "woozy_face",
     :name "Woozy Face",
     :keywords ["dizzy" "intoxicated" "tipsy" "wavy"],
     :skins
     [{:unified "1f974", :native "🥴", :shortcodes ":woozy_face:"}],
     :version 11,
     :search ",woozy_face,woozy,face,dizzy,intoxicated,tipsy,wavy,🥴",
     :type :emoji},
    :logseq.property/description
    "Quantitative measure gauging the degree of force involved in the exercise, for example, heartbeats per minute. May include the velocity of the movement.",
    :exclude-from-graph-view true}},
  :user.property/validFor-zMYMRxMA
  {:db/cardinality :db.cardinality/one,
   :logseq.property/type :node,
   :block/title "validFor",
   :build/property-classes [:user.class/Duration-l9FSb6jS],
   :build/properties
   {:logseq.property/icon
    {:id "stopwatch",
     :name "Stopwatch",
     :keywords ["time" "deadline"],
     :skins
     [{:unified "23f1-fe0f", :native "⏱️", :shortcodes ":stopwatch:"}],
     :version 1,
     :search ",stopwatch,stopwatch,time,deadline,⏱️",
     :type :emoji},
    :logseq.property/description
    "The duration of validity of a permit or similar thing.",
    :exclude-from-graph-view true}},
  :user.property/isTierOf-Jp7onTLo
  {:db/cardinality :db.cardinality/one,
   :logseq.property/type :node,
   :block/title "isTierOf",
   :build/property-classes [:user.class/MemberProgram-ow0-vJAI],
   :build/properties
   {:logseq.property/icon
    {:type :tabler-icon,
     :id "Pyramid",
     :name "Pyramid",
     :color "inherit"},
    :logseq.property/description
    "The member program this tier is a part of.\nInverse property: [hasTiers](https://schema.org/hasTiers)",
    :exclude-from-graph-view true}},
  :user.property/estimatedFlightDuration-i9LYDf5-
  {:db/cardinality :db.cardinality/one,
   :logseq.property/type :node,
   :block/title "estimatedFlightDuration",
   :build/property-classes [:user.class/Duration-l9FSb6jS],
   :build/properties
   {:logseq.property/icon
    {:id "straight_ruler",
     :name "Straight Ruler",
     :keywords
     ["stationery"
      "calculate"
      "length"
      "math"
      "school"
      "drawing"
      "architect"
      "sketch"],
     :skins
     [{:unified "1f4cf",
       :native "📏",
       :shortcodes ":straight_ruler:"}],
     :version 1,
     :search
     ",straight_ruler,straight,ruler,stationery,calculate,length,math,school,drawing,architect,sketch,📏",
     :type :emoji},
    :logseq.property/description
    "The estimated time the flight will take.",
    :exclude-from-graph-view true}},
  :user.property/repetitions-vRP2YaE4
  {:db/cardinality :db.cardinality/one,
   :logseq.property/type :node,
   :block/title "repetitions",
   :build/property-classes [:user.class/QuantitativeValue-IKnk1j2N],
   :build/properties
   {:logseq.property/icon
    {:type :tabler-icon,
     :id "Repeat",
     :name "Repeat",
     :color "inherit"},
    :logseq.property/description
    "Number of times one should repeat the activity.",
    :exclude-from-graph-view true}},
  :user.property/educationalAlignment-U0xgyOCF
  {:db/cardinality :db.cardinality/one,
   :logseq.property/type :node,
   :block/title "educationalAlignment",
   :build/property-classes [:user.class/AlignmentObject-Bp9Qbx_4],
   :build/properties
   {:logseq.property/icon
    {:id "school",
     :name "School",
     :keywords ["building" "student" "education" "learn" "teach"],
     :skins [{:unified "1f3eb", :native "🏫", :shortcodes ":school:"}],
     :version 1,
     :search
     ",school,school,building,student,education,learn,teach,🏫",
     :type :emoji},
    :logseq.property/description
    "An alignment to an established educational framework.",
    :exclude-from-graph-view true}}}}
